
body{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.943);
}
.nav{
    display: grid;
    place-content: center;
    float: left;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.options li{
    text-align: center;
    list-style: none;
    float: left;
    margin: 30px;
    border-radius: 10px;
    height: 40px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    font-size: 30px;
}